# Default values for myapp.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

{{ if .Values.domain -}}
ingress:
  enabled: true
  annotations:
    ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: {{ .Environment.Name }}-traefik-public
  hosts:
    - host: myapp.{{ .Values.domain }}
      paths:
      - "/"
{{ end -}}
